p {
    color: rgb(24, 7, 3);
    font-size: 20px;
    font-family: Cambria;
}

h2 {
    color: darkslateblue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: rgb(35, 3, 87);
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: outline;
    background: linear-gradient(135deg, rgb(238, 225, 213) 50%, rgb(146, 230, 225));
    text-align: center;
}

body {
    /*background-color: rgb(230, 228, 220);*/
    background: linear-gradient(-45deg, #b3876a, #e5ebe9);
}

.companion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(102, 19, 19);
    font-size: 35px;
    font-weight: 600;
}

#quest {
    color: darkgoldenrod;
    font-weight: initial;
}

.companions-list li {
    color: rgb(23, 23, 66);
    font-family: Cambria;
    font-size: 20px;
}

#walk-bg3 {
    font-family: Cambria;
    font-size: 35px;
    font-weight: 600;
}

#img-layer {
    position: relative;
    text-align: left;
}

#text-inside {
    position: absolute;
    top: 230px;
    right: 70%;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    opacity: 60%;
}