p {
  color: rgb(24, 7, 3);
  font-size: 20px;
  font-family: Cambria;
}

h2 {
  color: darkslateblue;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: rgb(35, 3, 87);
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font: outline;
  background: linear-gradient(
    135deg,
    rgb(238, 225, 213) 50%,
    rgb(146, 230, 225)
  );
  text-align: center;
}

body {
  /*background-color: rgb(230, 228, 220);*/
  background: linear-gradient(-45deg, #b3876a, #e5ebe9);
}

.companion {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(102, 19, 19);
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

#quest {
  color: darkgoldenrod;
  font-weight: initial;
}

.companions-list li {
  color: rgb(23, 23, 66);
  font-family: Cambria;
  font-size: 20px;
}

#walk-bg3 {
  font-family: Cambria;
  font-size: 35px;
  font-weight: 600;
  color: rgb(82, 25, 25);
  text-align: center;
}
table,
td {
  border: 1px solid #333;
  height: 40%;
  left: 10%;
  margin: 20px auto;
  width: 70%;
}
td {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
  color: whitesmoke;
  font-size: 20px;
}
tr {
  background-color: rgba(17, 19, 19, 0.808);
  border-bottom: 1px solid rgb(19, 18, 18);
  margin-bottom: 5px;
}
thead th {
  padding: 20px;
  background: rgba(17, 19, 19, 0.808);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#rows {
  font-size: 30px;
}

/*thead,
tfoot {
    background-color: #333;
    color: #fff;
}
*/
#img-layer {
  position: relative;
  text-align: left;
}

#text-inside {
  position: absolute;
  top: 230px;
  right: 70%;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  opacity: 60%;
}

nav li {
  padding-right: 2rem;
  display: inline;
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
nav li a {
  color: rgb(179, 43, 19);
}

#Astarion {
  border-radius: 100%;
}

article {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  text-align: center;
  height: 100px;
  color: rgb(71, 24, 24);
}

.banner {
  height: 700px;
  
}
